body {
  background: #f2f2f2;
}

.wrap {
    width: 60%;
    min-width: 300px;
    margin: 100px auto;
}
.title {
    font-family: 'Manjari', sans-serif;
    font-size: calc(30px + 5vw);
    color: #777;
}
img {
    width: 40px;
    height: auto;
    margin: 5px;
    opacity: 0.8;
}
img:hover {
    opacity: 1;
}
a {
    color: #777;
}
a:hover {
    color: #333;
}

.design {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    height: 90vh;
    width: 100%;
}
.progress {
    margin-bottom: 5px;
}
#mynetwork {
    height: 90vh;
    width: 100%;
    border: 1px solid lightgray;
    background-color: #fff;
}